<H4>Overall Dashboard of Systems:</H4>
<HR>
 <div class="bs-example" data-example-id="thumbnails-with-custom-content">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/server_multiple.png" alt="Generic placeholder thumbnail" width=160>
          <div class="caption">
            <h3>STAGE01</h3>
            <p>Stage Environment</p>
            <p><a href="#" class="btn btn-primary" role="button">Check Out</a> <a href="#" class="btn btn-default" role="button">Return</a> <a href="#" class="btn btn-default" role="button">Down</a></p>
          </div>
        </div>
      </div>
        <div class="row">
           <div class="col-sm-6 col-md-4">
             <div class="thumbnail">
               <img src="img/server_multiple.png" alt="Generic placeholder thumbnail" width=160>
               <div class="caption">
                 <h3>INT01</h3>
                 <p>Feature Branch Environment</p>
                 <p><a href="#" class="btn btn-primary" role="button">Check Out</a> <a href="#" class="btn btn-default" role="button">Return</a> <a href="#" class="btn btn-default" role="button">Down</a></p>
               </div>
             </div>
           </div>
             <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="img/server_multiple.png" alt="Generic placeholder thumbnail" width=160>
                    <div class="caption">
                        <h3>INT02</h3>
                         <p>Feature Branch Environment</p>
                      <p><a href="#" class="btn btn-primary" role="button">Check Out</a> <a href="#" class="btn btn-default" role="button">Return</a> <a href="#" class="btn btn-default" role="button">Down</a></p>
                    </div>
                  </div>
                </div>
           </div>
           </div>
<BR>

<div class="bs-example" data-example-id="thumbnails-with-custom-content">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/server_multiple.png" alt="Generic placeholder thumbnail" width=160>
          <div class="caption">
              <h3>INT03</h3>
                           <p>Feature Branch Environment</p>
            <p><a href="#" class="btn btn-primary" role="button">Check Out</a> <a href="#" class="btn btn-default" role="button">Return</a> <a href="#" class="btn btn-default" role="button">Down</a></p>
          </div>
        </div>
      </div>
        <div class="row">
           <div class="col-sm-6 col-md-4">
             <div class="thumbnail">
               <img src="img/server_multiple.png" alt="Generic placeholder thumbnail" width=160>
               <div class="caption">
                   <h3>INT04</h3>
                                <p>Feature Branch Environment</p>
                 <p><a href="#" class="btn btn-primary" role="button">Check Out</a> <a href="#" class="btn btn-default" role="button">Return</a> <a href="#" class="btn btn-default" role="button">Down</a></p>
               </div>
             </div>
           </div>
           </div>
           </div>
