<!-- templates/index.tmpl -->

<H4>Environment Reservation System</H4>
<HR>
<B>PURPOSE OF THIS APPLICATION:</B>
<BR><P>This application allows users to checkout development environments that are used for testing new features.
This enables the engineering staff from breaking environments while being tested on real hardware.
<BR>
<BR>
The flow of this application is as following.
<BR>
<BR>
1.) User select environment that is not currently in use.
<BR>
2.) Users Checkout environment and notification is sent to Hipchat.
<BR>
3.) Dashboard show current user of each environment and time that the user has checked out the environment.
<BR>
4.) Users releases environment back to pool and status of release is sent to hipchat. </P>
<BR>
<B>HOWTO GUILD:</B>
<BR>
<BR>
