<H4>Status of Development Environments:</H4>
<HR>
<H5> Stage01.overcloud.eng.cloud.io.com </H5>
<span class="label label-success">Available</span>
<span class="label label-warning">Checked Out</span>
<span class="label label-danger">Down</span>
<BR>
<H5> Int01.overcloud.eng.cloud.io.com </H5>
<span class="label label-success">Available</span>
<span class="label label-warning">Checked Out</span>
<span class="label label-danger">Down</span>
<BR>
<H5> Int02.overcloud.eng.cloud.io.com </H5>
<span class="label label-success">Available</span>
<span class="label label-warning">Checked Out</span>
<span class="label label-danger">Down</span>
<BR>
<H5> Int03.overcloud.eng.cloud.io.com </H5>
<span class="label label-success">Available</span>
<span class="label label-warning">Checked Out</span>
<span class="label label-danger">Down</span>
<BR>
<H5> Int04.overcloud.eng.cloud.io.com </H5>
<span class="label label-success">Available</span>
<span class="label label-warning">Checked Out</span>
<span class="label label-danger">Down</span>